# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
*.env

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
